<head>
    <title>My Page Title</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
<header><h1>Vagas Online - RH TI</h1>
<h2>Cadastramento de vagas diponíveis</h2>
</header>
<nav>
    <ul>
      <li><a href="#">Lista de Empresas</a></li>
      <li><a href="#">Banco de candidatos</a></li>
      <li><a href="#">Relatórios</a></li>
    </ul>
  </nav>
<form name="form" id="form">
    <table>
    
        <label for="Vagas">Selecione a vaga:</label><br>
            <select name="Lista">
                <option value=""></option>
                    <option value="1">Gerente de Projetos TI</option>
                        <option value="2">Programador FullStack</option>
                            <option value="3">Analista de Testes</option>
                                <option value="4">Analista de Suporte Java</option>
                                    </select>
                                    <label for="UF">        UF:</label>
                                    <select name="UF">
                                        <option value=""></option>
                                            <option value="1">São Paulo</option>
                                                <option value="2">Rio de Janeiro</option>
                                                    <option value="3">Paraná</option>
                                                        <option value="4">Minas Gerais</option>
                                                            </select><br>
                                            <label for="vsalario">Remuneração:</label><br>
                                                  <input type="text" id="vsalario" name="vsalario"><br>
                                                        <label for="vrequisito">Requisitos para a vaga:</label><br>
                                                            <textarea rows="5" cols="40" maxlength="500"></textarea>
                                                                <br>
                                                                <div class="btn">
                                                                
                                                            <button type="button" class="btn">Gravar</button>
                                                                </div>
                                                                <article>
                                                                    <h2>Lembrete:</h2>
                                                                    <p>Importante sempre detalhar a vaga para que não ocorram divergências de informações.</p>
                                                                    <p>Em caso dúvidas entrar em contato com o cliente para alinhamento.</p>
                                                                  </article>
</table>
<footer>
    <p>Nosso endereço: Rua da Felicidade -  São Paulo - SP</p>
    <p>Telefone: 11 9 9999-0000</p>
  </footer>
        
